.Login__main {
	width: 100%;
	background-color: crimson;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.Login__container {
	background-color: blueviolet;
	width: 100%;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Login__info {
	padding: 3rem 2rem;
	font-size: 1.8rem;
	text-align: center;
}

.Login__github-login {
	margin: 1rem 2rem;
	font-size: 1.6rem;
}

.Login__guest-login {
	margin: 1rem 2rem;
	font-size: 1.6rem;
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 520px) {
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1366px) {
}
