.Profile__main {
	background-color: tomato;
	width: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.Profile__navbar {
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.Profile__avatar {
	height: 3rem;
}

.Profile__nick {
	font-size: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Profile__logout {
	text-decoration: none;
	color: white;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #ea4a5a;
}

.Profile__content {
	background-color: violet;
	width: 100%t;
	display: flex;
	flex-direction: column;
}

.Profile__form {
	background-color: violet;
	width: 100%t;
	display: flex;
	flex-direction: column;
}
